<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Register Poisson Tata</title>
</head>
<body>

	<div layout:fragment="content">
	<div class="col-md-8">
	
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Liste des achats</h3>
				<div class="box-tools">
				<form th:action="@{/achatByMonth}">
					<div class="input-group">
						
							<input type="month" id="date" class="form-control input-sm pull-right" style="width: 150px;"
								placeholder="Search"  name="month" />
							<div class="input-group-btn">
								<button class="btn btn-sm btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						
					</div>
					</form>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body no-padding">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>Id cheque</th>
							<th>Etat</th>
							<th>Actions</th>
						</tr>
						<tr th:if="${result} == 0">
							<td style="text-align: center; color: red" colspan="4"><strong>Aucun
									resultats</strong></td>
						</tr>
						<tr th:each="achat:${achats}">
							<td th:text="${achat.id}"></td>
							<td th:text="${achat.date}"></td>
							<td th:text="${achat.idCheque}"></td>
							<td th:text="${achat.valide}"></td>
							<td><a class="btn btn-info btn-sm"
								th:href="@{/editAchat(id=${achat.id})}">Modifier</a> <a
								class="btn btn-danger btn-sm" th:href="@{/deteteAchat(id=${achat.id})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
			<div class="box-footer clearfix">
				<ul class="pagination pagination-sm no-margin pull-right">
					<li th:each="p,status:${pages}"><a
						th:href="@{/achatMarche(page=${status.index})}"
						th:text="${status.index} + 1"></a></li>
				</ul>
			</div>
		</div>
		
	</div>
	<div class="col-md-4">
		<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title">Enregistrer une achat</h3>
				</div>
				<form role="form" method="post" th:action="@{/addAchat}">
					<div class="box-body">
						<div class="form-group">
							<label for="nomSte" class="control-label">Montant</label> 
							<input class="form-control" type="number" name="montant" />
						</div>
						<div class="form-group">
							<label for="nomSte" class="control-label">Cheque</label> 
							<input class="form-control" type="text" name="idCheque" />
						</div>
						<div class="form-group">
							<label for="date">Date</label> <input class="form-control"
								type="date" name="dateA" id="date" required="required"
								placeholder="Date" />
						</div>
						<div class="form-group">
							<label for="montant">Montant</label> 
							<select name="valide" class="form-control">
								<option value="0">En cours de traitement</option>
								<option value="1">Approuvée</option>
							</select>
						</div>
						<div class="form-group">
							<label for="autres">Autres</label>

							<textarea class="form-control" name="autres" id="autres"
								placeholder="Autres informations ..."></textarea>


						</div>
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-success">Enregistrer</button>
					</div>
				</form>
			</div>
	</div>
</div>
</body>
</html>